{% extends 'base.html.twig' %}

{% block title %}Modifier un Produit{% endblock %}
    
{% block body %}
  
<div class="card shadow mb-4">
    <div class="card-body card-body-custom" id="printable-area">
        <h2 class="text-center mb-4">Modifier un Produit</h2>

        <div class="fw-bold">
        {{ form_start(form) }}
                <div class="col-md-6 mb-3">
                    {{ form_label(form.codeBarre) }}
                    {{ form_widget(form.codeBarre, {'attr': {'class': 'form-control'}}) }}
                </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form_label(form.numeroSerie) }}
                    {{ form_widget(form.numeroSerie, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form_label(form.categorie) }}
                    {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mb-3">
                    {{ form_label(form.marque) }}
                    {{ form_widget(form.marque, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-4 mb-3">
                    {{ form_label(form.modele) }}
                    {{ form_widget(form.modele, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-3 mb-3">
                    {{ form_label(form.taille, null, {'label_attr': {'class': 'label-blue-bold'}}) }}
                    {{ form_widget(form.taille, {'attr': {'class': 'form-control'}}) }}
                    {# <small class="text-muted">Écrans/Portables: en pouces (15.6"). UC: Tour/SFF/Mini PC</small> #}
                </div>
                
            </div>

             <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form_label(form.cpu) }}
                    {{ form_widget(form.cpu, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form_label(form.frequenceCpu) }}
                    {{ form_widget(form.frequenceCpu, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form_label(form.carteGraphique) }}
                    {{ form_widget(form.carteGraphique, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form_label(form.memoireVideo) }}
                    {{ form_widget(form.memoireVideo, {'attr': {'class': 'form-control'}}) }}
                </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form_label(form.stockage) }}
                    {{ form_widget(form.stockage, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form_label(form.typeStockage) }}
                    {{ form_widget(form.typeStockage, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form_label(form.ram) }}
                    {{ form_widget(form.ram, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form_label(form.typeRam) }}
                    {{ form_widget(form.typeRam, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form_label(form.statut) }}
                    {{ form_widget(form.statut, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form_label(form.codeEtagere) }}
                    {{ form_widget(form.codeEtagere, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>


            <div class="row justify-content-center mt-4">
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-check-circle"></i> Modifier
                    </button>
                </div>
                <div class="col-md-4 text-center">
                    <a href="{{ path('app_produit') }}" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Retour
                    </a>
                </div>
            </div>
            
        {{ form_end(form) }}
        </div>
    </div>
</div>   
{% endblock %}